 /* set*/
	body{margin:0;padding:0; height:100%;font-size:0.75em;}
	html, h1 ,h2, h3, h4, h5, h6{margin:0; padding:0; border:0; height:100%}
	h1, h2, h3, h4, h5, h6 {font-size:17px; font-family:'NanumSquare','Malgun Gothic', dotum, sans-serif}
	ul,dl,dt,dd,li{margin:0; padding:0; list-style:none}
	img{max-width:100%; height:auto;}
	p {margin:0;padding:0;word-break:break-all}

	a{
		text-decoration:none;
		color:black;
	}

	*{box-sizing:border-box;}

	.warp{min-height:100%; position:relative; padding-bottom:299.333px;}

	/* ��� - �ΰ�, ��ܸ޴�*/
	.header{
		background:#000000;
		overflow:hidden
	}

	.header > div{overflow:hidden; max-width:1200px; margin:0 auto;}
	.header > div > div.logo{}
	.header > div > div.top-btn{}

	.header .logo{
		float:left;
	}

	.header .logo h1{font-size:17px;}
	.header .logo h1 a{display:block; padding:5px;}
	.header .logo h1 img{width:100px;}

	.header .top-btn{
		float:right;
	}
	.header .top-btn ul{
	 overflow:hidden; margin-top:10px;
	}
	.header .top-btn ul li{
		float:left;
		margin-left:10px;
	}

	.header .top-btn ul li a{
		color:#fff;
		font-size:14px;
		display:block;
		padding:5px;
	}

	.menu{
		border-bottom:1px solid gray;
	}

	.menu > div{
		max-width:1200px;
		margin:0 auto;	
	}

	.menu > div > ul{
		text-align:center;
	}
	.menu > div > ul > li{
		display:inline-block;
		position:relative;
	}

	.menu .menu-container > ul > li a{
		display:block;
		padding:10px;
		font-size:17px;
		margin:10px 40px;
	}

	.menu .menu-container ul li a:hover{color:#25a5ff;}

	.menu > div > ul > li:hover ul.submenu{display:block}
	.menu > div > ul > li > ul.submenu{position:absolute; z-index:9; background:#fff; display:none; width:100%;}
	.menu > div > ul > li ul.submenu a{margin:5px; font-size:14px;} 

	.banner .swiper-container{max-width:1200px; margin:0 auto;}

	.tab-menu ul{overflow:hidden; text-align:center;}
	.tab-menu ul li{float:left; width:33.33%;}
	.tab-menu ul li a{display:block; padding:5px 10px; border-bottom:1px solid #e1e1e1; font-size:14px; color:#888}
	.tab-menu ul li.on a{color:#057bf5; font-weight:bold; border-bottom:1px solid #057b5f}
	.tab-menu ul li:hover a{color:#057bf5;}

	.tab-con{}
	.tab-con ul li{overflow:hidden;}
	.tab-con ul li:hover{border-bottom:1px dashed #e1e1e1;}
	.tab-con ul li a{float:left; display:block; padding:5px; font-size:15px;}
	.tab-con ul li a:before{
		content:""; 
		display:inline-block; 
		width:3px; 
		height:3px; 
		background:#ccc; 
		border-radius:50%; 
		vertical-align: middle; 
		margin-right: 5px;
	}

	.tab-con ul li span{float:right; padding:5px; font-size:13px; color: #888;}

	.bbs-box > div{overflow:hidden; max-width:1200px; margin:0 auto;}
	.bbs-box > div > .board-box{float:left; width:50%;}
	.bbs-box > div > .board-box > div{padding:10px;}
	.bbs-box > div > .right-banner{float:right; width:50%;}
	.bbs-box > div > .right-banner .r-slide{padding:10px;}

	.footer{
		position:fixed;
		left:0;
		bottom:0;
		right:0;
		width:100%;
		background: #000000; color:#ccc;
	}
	.footer > div{padding : 20px;}
	.footer > h1{font-size : 17px; margin-bottom:10px;}
	.footer > p{font-size : 13px; line-height:160%; padding:0; margin:0;}
	.footer > span{font-size:12px; color:#999;}

	.icon-container{
		display:flex;
		align-items: center;
		justify-content:space-between;
	}

	.icon-container i{
		float:right;
		margin-right:20px;
		transition: transform 0.7s;
	}

	.icon-container i:hover{
		transform: scale(1.3);
	}

/*------------------------------notice-list--------------------------------------------------------*/
.contents{max-width: 1200px; margin: 0 auto;}

.notice-box h1{text-align: center; font-size: 30px; padding: 20px 0;}
.search-box{text-align: end; padding: 10px 0; margin-bottom: 10px;}
.search-box input{padding: 5px; border: 1px solid #000; border-radius: 5px;}
.search-box button{padding: 6px; background: #000; color: #fff; border: 0; border-radius: 5px;}

.notice-table{background: #fff;}
.notice-table ul.table-hd{text-align: center; border-top: 1px solid black;}
.notice-table ul.table-bd{text-align: center;}
.notice-table ul.table-bd .subject{text-align: left;}
.notice-table ul li{display:table; width:100%;}
.notice-table ul li > div{display:table-cell; border-bottom: 1px solid #ccc;}

.notice-table ul li > div.no{width:10%; font-size: 15px; padding: 5px 0;}
.notice-table ul li > div.subject{width:50%; font-size: 15px; padding: 5px 0;}
.notice-table ul li > div.subject a{font-weight: bold; font-size: 14px;}
.notice-table ul li > div.subject a:hover{text-decoration: underline;}
.notice-table ul li > div.name{width:20%; font-size: 15px; padding: 5px 0;}
.notice-table ul li > div.date{width:20%; font-size: 15px; padding: 5px 0;}

.paging{}
.paging ul{text-align: center; margin: 10px 0;}
.paging ul li{display: inline-block;}
.paging ul li a{display: block; padding: 5px 10px; border: 1px solid #e1e1e1; background: #fff;}
.paging ul li.on a{background: #000; color: #fff; border: 1px solid#000;}


.bbs-btn-box{text-align: right;}

.bbs-btn-box a{background: #000; color: #fff; padding: 5px 10px;}

/*-----------------------------------notice_write------------------------------------------------*/
.write-form{}
.write-form label{display: inline-block}
.write-form input[type="text"]{width: 100%; border: 1px solid #ccc; height: 30px;}
.write-form textarea{width: 100%; border: 1px solid #ccc; height: 150px;}
.write-form label.check-text{display: inline-block;}
.write-form li{margin-bottom: 10px;}

.write-form li.chk-box{background: #fff; padding: 10px; border-top: 1px solid #ccc;}    
.write-f-btn{max-width: 800px; margin: 20px auto;}

/*-----------------------------------list(장소예약)------------------------------------------------*/
	.booking-table > ul{overflow: hidden;}
	.booking-table > ul > li{margin-bottom: 10px; overflow: hidden; border: 1px solid #444;}
	.booking-table > ul > li > div{padding: 10px; float: left;}

	.booking-table .thum{text-align: center; width: 15%;}
    .booking-table .thum a{display: block; padding: 5px; background: #fff; border: 1px solid #e1e1e1; max-height: 220px; overflow: hidden;}
    .booking-table .thum img{max-height: 220px;}
    

    .booking-table .info{width: 85%;}
	.booking-table .info a{display: block; font-size: 17px;}
    .booking-table .info p{font-size: 14px; color: #444; margin: 10px 0; max-height: 100px; overflow: hidden; min-height: 100px;}
	.booking-table .info span{color: #888;}

/*-----------------------------------gallery-list------------------------------------------------*/
	.gallery-table > ul{overflow: hidden;}
	.gallery-table > ul > li{width: 20%; float: left; margin-bottom: 10px;}
	.gallery-table > ul > li:nth-child(5n+1){clear: both;}
	.gallery-table > ul > li > div{padding: 10px;}
	.gallery-table .thum{padding-bottom: 0px; height: 220px; overflow: hidden;}
	.gallery-table .info a{display: block; font-size: 15px;}

 /*-----------------------------------gallery-list------------------------------------------------*/
.booking-view .photo-box{overflow: hidden;}
.booking-view .photo-box .view-photo{float: left; width: 50%; height: 310px; padding: 65px 5px;}
.booking-view .photo-box .calendar{float: left; width: 50%; height: 310px; padding: 5px;}

.cal-box{border: 1px solid #e1e1e1;}
.cal-box ul{ overflow:hidden; padding:5px;}
.cal-box ul li{float: left; width: 14.28%; text-align:center;}
.cal-box ul:first-child a span{font-weight: bold;}
.cal-box ul li:first-child a span{color:#ff4c4c;} /*첫번째 열 빨간색으로*/
.cal-box ul li:last-child a span{color:#1499d1;} /*마지막 열 파란색으로*/
  /*위에거 이렇게 해도 됨.
  .cal-box ul li:nth-child(1){}
  .cal-box ul li:nth-child(2){}
  .cal-box ul li:nth-child(3){}
  .cal-box ul li:nth-child(4){}
  .cal-box ul li:nth-child(5){}
  .cal-box ul li:nth-child(6){}
  .cal-box ul li:nth-child(7){}
  */

.cal-box ul li a{display: block; padding: 4px 5px;}
.cal-box ul li a span:hover{color:#fff; background: rgb(39, 224, 123); padding: 5px; border-radius: 5px;}
.cal-box ul li a span.off{color: #aaa;}
.cal-box ul li a span.today{color:#fff; background: rgb(50, 32, 212); padding: 5px; border-radius: 5px;}

.cal-box ul li a span.selected{color:#fff; background: rgb(39, 224, 123); padding: 5px; border-radius: 5px;}

.cal-hd{text-align: center;}
.cal-hd span{display: inline-block; margin: 5px; padding: 3px;}
.cal-hd span.month{font-size: 30px;}

.view-btn{text-align: right; padding: 5px;}
.view-btn a{display: inline-block; padding: 5px 10px; background: #000; color: #fff; border-radius: 5px;}
.view-btn a:hover{background: #12ac40; transition: 0.5s;}
.view-detail{border: 1px solid #ccc; margin: 10px 5px; padding: 20px; min-height: 300px; border-radius: 5px;}
  /*-----------------------------------mypage------------------------------------------------*/
	
.mypage-box h1{text-align: center; font-size: 30px; padding: 20px 0;}
.mypage-table{background: #fff;}
.mypage-table ul.table-hd{text-align: center; border-top: 2px solid black; font-weight: bold; padding-top: 5px;}
.mypage-table ul.table-bd{text-align: center; margin: 5px 0;}
.mypage-table ul.table-bd .subject{text-align: left;}
.mypage-table ul li{display:table; width:100%;}
.mypage-table ul li > div{display:table-cell; border-bottom: 1px solid #ccc;}

.mypage-table ul li > div.no{width:10%; font-size: 15px; padding: 5px 0;}
.mypage-table ul li > div.subject{width:40%; font-size: 15px; padding: 5px 0;}
.mypage-table ul li > div.subject a{font-weight: bold; font-size: 14px;}
.mypage-table ul li > div.subject a:hover{text-decoration: underline;}
.mypage-table ul li > div.r-date{width:20%; font-size: 15px; padding: 5px 0;}
.mypage-table ul li > div.date{width:20%; font-size: 15px; padding: 5px 0;}
.mypage-table ul li > div.state{width:10%; font-size: 15px; padding: 5px 0;}
.mypage-table ul li > div.state.color01{color: rgb(42, 45, 255);}
.mypage-table ul li > div.state.color02{color: rgb(255, 8, 0);}
.mypage-table ul li > div.state.color03{color: rgb(19, 194, 98);}


 /*-----------------------------------adm-menu------------------------------------------------*/

.adm-menu{border-bottom: 1px solid #e1e1e1;}
.adm-menu ul{text-align: center;}
.adm-menu ul li{display: inline-block; margin: 5px;}
.adm-menu ul li:before{content:""; display: inline-block; width: 1px; height: 10px; background: #000; margin-right: 15px;}
.adm-menu ul li:last-child::after{content:""; display: inline-block; width: 1px; height: 10px; background: #000; margin-left: 15px;}
.adm-menu ul li a{display: inline-block; padding: 5px 10px;}
.adm-menu ul li a:hover{color: aqua; font-weight: bold;}
.adm-menu ul li.on a{color: aqua; font-weight: bold;}
  
/*-----------------------------------set------------------------------------------------*/

 .adm-set{padding:50px;}
 .adm-set h1{text-align: center;margin-bottom: 20px;}
 .adm-set .join-form{max-width: 800px; margin: 0 auto; border: 1px solid #e1e1e1; padding: 20px;background: #fff;box-shadow:0px 2px 5px 0px rgb(0 0 0 / 20%);}
 .adm-set .join-form li{margin:5px;}
 .adm-set .join-form label{display: block;}
 
 .adm-set .join-form li input[type="text"]{width: 100%;height:40px;padding: 5px;border: 1px solid #ccc; margin-bottom:5px;}
 .adm-set .join-form li input[type="password"]{width: 100%;height:40px;padding: 5px;border: 1px solid #ccc; margin-bottom:5px;}
 .adm-set .join-form li input[type="radio"]{height:40px;padding: 5px;border: 1px solid #ccc; margin-bottom:5px;}
 .adm-set .join-form li select{width: 100%;height:40px;padding: 5px;border: 1px solid #ccc; margin-bottom:5px;}
 
 .adm-set .join-btn{text-align: center;margin-top: 20px;}
 .adm-set .join-btn a{border:1px solid black; padding:5px; background:white;}
 .adm-set .join-btn a:hover{background:black; color:white;}
 .adm-set .join-form li .gender{display:flex; justify-content:space-around; align-items:center;border: 1px solid #ccc;}
 
 .adm-set .join-form li .gender span label{display : block; margin-top: 5px;}
 
 .adm-set .join-form .add .zipcode input{width:78%;}
 .adm-set .join-form .add .zipcode button{width:20%; height:40px; background:#000; color:white; border:0;  margin-left: 5px; margin-bottom: 5px;}
 .adm-set .join-form .add span{margin-bottom:5px; display:block;}


 /*-----------------------------------board------------------------------------------------*/

.board-box h1{text-align: center; font-size: 30px; padding: 20px 0;}
.board-table{background: #fff;}
.board-table ul.table-hd{text-align: center; border-top: 2px solid black; font-weight: bold; padding-top: 5px;}
.board-table ul.table-bd{text-align: center; margin: 5px 0;}
.board-table ul.table-bd .subject{text-align: left;}
.board-table ul li{display:table; width:100%;}
.board-table ul li > div{display:table-cell; border-bottom: 1px solid #ccc;}

.board-table ul li > div.no{width:10%; font-size: 15px; padding: 5px 0;}
.board-table ul li > div.subject{width:40%; font-size: 15px; padding: 5px 0;}
.board-table ul li > div.subject a{font-weight: bold; font-size: 14px;}
.board-table ul li > div.subject a:hover{text-decoration: underline;}
.board-table ul li > div.adm{width:20%; font-size: 15px; padding: 5px 0;}
.board-table ul li > div.adm > a.mod{color:green; margin-right: 5px; padding: 5px;}
.board-table ul li > div.adm > a.del{color: red; padding: 5px;}
.board-table ul li > div.date{width:20%; font-size: 15px; padding: 5px 0;}
.board-table ul li > div.state{width:10%; font-size: 15px; padding: 5px 0;}

 /*-----------------------------------board-write------------------------------------------------*/
.board-write-box{padding:50px;}
.board-write-box h1{text-align: center;margin-bottom: 20px;}
.board-write-box .board-write-form{max-width: 800px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius:25px; padding: 20px;background: #fff;box-shadow:0px 2px 5px 0px rgb(0 0 0 / 20%);}
.board-write-box .board-write-form li{margin:5px;}
.board-write-box .board-write-form label{display: inline-block;width: 18%;}

.board-write-box .board-write-form li input[type="text"]{width: 80%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px; display: inline-block;}
.board-write-box .board-write-form li input[type="password"]{width: 80%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px; display: inline-block;}
.board-write-box .board-write-form li input[type="checkbox"]{padding: 5px; display: inline-block;}
.board-write-box .board-write-form li select{width: 80%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px; display: inline-block;}

.board-write-box .board-write-btn{max-width: 1000px; text-align: right; margin-top: 20px;}
.board-write-box .board-write-btn a{border:1px solid black; padding:5px; border-radius:5px; background:white;}
.board-write-box .board-write-btn a:hover{background:black; color:white;}
.board-write-box .board-write-form li .use {display: inline-block;}
.board-write-box .board-write-form li .use >label{width: auto; margin-left: 10px;}



.board-write-box .board-write-form .add .zipcode input{width:78%;}
.board-write-box .board-write-form .add .zipcode button{width:20%; height:40px; background:#000; color:white; border:0; border-radius:10px; margin-left: 5px;}
.board-write-box .board-write-form .add span{margin-bottom:5px; display:block;}

 /*-----------------------------------member------------------------------------------------*/
.member-box h1{text-align: center; font-size: 30px; padding: 20px 0;}
.member-table{background: #fff;}
.member-table ul.table-hd{text-align: center; border-top: 2px solid black; font-weight: bold; padding-top: 5px;}
.member-table ul.table-bd{text-align: center; margin: 5px 0;}
.member-table ul li{display:table; width:100%; border-bottom: 1px solid #ccc;}
.member-table ul li > div{display:table-cell; text-align: left;}

.member-table ul li > div.no{width:5%; font-size: 15px; padding: 5px 0; border: 1px }
.member-table ul li > div.name{width:10%; font-size: 15px; padding: 5px 0; border: 1px }
.member-table ul li > div.number{width:10%; font-size: 15px; padding: 5px 0; border: 1px }
.member-table ul li > div.mail{width:15%; font-size: 15px; padding: 5px 0; border: 1px }
.member-table ul li > div.ymd{width:10%; font-size: 15px; padding: 5px 0; border: 1px }
.member-table ul li > div.address{width:30%; font-size: 15px; padding: 5px 0; border: 1px }
.member-table ul li > div.date{width:10%; font-size: 15px; padding: 5px 0; border: 1px }
.member-table ul li > div.adm{width:10%; font-size: 15px; padding: 5px 0; border: 1px; text-align: center; }
.member-table ul li > div.adm > a.mod{color:green; margin-right: 5px; padding: 5px; color: green; border: 1px }
.member-table ul li > div.adm > a.del{color: red; padding: 5px; color: red; border: 1px }

 /*-----------------------------------member-join------------------------------------------------*/

 .adm-set{padding:50px;}
 .adm-set h1{text-align: center;margin-bottom: 20px;}
 .adm-set .join-form{max-width: 400px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius:25px; padding: 20px;background: #fff;box-shadow:0px 2px 5px 0px rgb(0 0 0 / 20%);}
 .adm-set .join-form li{margin:5px;}
 .adm-set .join-form label{display: block;}
 
 .adm-set .join-form li input[type="text"]{width: 100%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px;}
 .adm-set .join-form li input[type="password"]{width: 100%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px;}
 .adm-set .join-form li input[type="radio"]{height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px;}
 .adm-set .join-form li select{width: 100%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px;}
 
 .adm-set .join-btn{text-align: center;margin-top: 20px;}
 .adm-set .join-btn a{border:1px solid black; padding:5px; border-radius:5px; background:white;}
 .adm-set .join-btn a:hover{background:black; color:white;}
 .adm-set .join-form li .gender{display:flex; justify-content:space-around; align-items:center;border: 1px solid #ccc;border-radius:10px;}
 
 .adm-set .join-form li .gender span label{display : block; margin-top: 5px;}
 
 .adm-set .join-form .add .zipcode input{width:78%;}
 .adm-set .join-form .add .zipcode button{width:20%; height:40px; background:#000; color:white; border:0; border-radius:10px; margin-left: 5px;}
 .adm-set .join-form .add span{margin-bottom:5px; display:block;}



 /*-----------------------------------popup------------------------------------------------*/
.popup-box h1{text-align: center;}
.popup-box h1{use-align: center; font-size: 30px; padding: 20px 0;}
.popup-table{background: #fff;}
.popup-table ul.table-hd{use-align: center; border-top: 2px solid black; font-weight: bold; padding-top: 5px;}
.popup-table ul.table-bd{use-align: center; margin: 5px 0;}

.popup-table ul li{display:table; width:100%;}
.popup-table ul li > div{display:table-cell; border-bottom: 1px solid #ccc;}

.popup-table ul li > div.no{width:10%; font-size: 15px; padding: 5px 0;}
.popup-table ul li > div.subject{width:40%; font-size: 15px; padding: 5px 0;}
.popup-table ul li > div.time{width:20%; font-size: 15px; padding: 5px 0;}
.popup-table ul li > div.use{width:10%; font-size: 15px; padding: 5px 0;}
.popup-table ul li > div.date{width:10%; font-size: 15px; padding: 5px 0;}
.popup-table ul li > div.adm{width:10%; font-size: 15px; padding: 5px 0;}
.popup-table ul li > div.adm > a.mod{margin-right: 5px; color: green;}
.popup-table ul li > div.adm > a.del{color: red;}



/*-----------------------------------popup_write------------------------------------------------*/
.popup-write-box{padding:50px;}
.popup-write-box h1{text-align: center;margin-bottom: 20px;}
.popup-write-box .popup-write-form{max-width: 800px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius:25px; padding: 20px;background: #fff;box-shadow:0px 2px 5px 0px rgb(0 0 0 / 20%);}
.popup-write-box .popup-write-form li{margin:5px;}
.popup-write-box .popup-write-form label{display: inline-block;width: 18%;}

.popup-write-box .popup-write-form li input[type="text"]{width: 80%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px; display: inline-block;}
.popup-write-box .popup-write-form li input.s-date{width: 35%;}
.popup-write-box .popup-write-form li p{display: inline-block; width: 5%; text-align: center;}
.popup-write-box .popup-write-form li input.e-date{width: 35%;}
.popup-write-box .popup-write-form li input[type="checkbox"]{padding: 5px; display: inline-block;}


.popup-write-box .popup-write-btn{max-width: 1000px; text-align: right; margin-top: 20px;}
.popup-write-box .popup-write-btn a{border:1px solid black; padding:5px; border-radius:5px; background:white;}
.popup-write-box .popup-write-btn a:hover{background:black; color:white;}
.popup-write-box .popup-write-form li .use {display: inline-block;}
.popup-write-box .popup-write-form li .use >label{width: auto; margin-left: 10px;}



/*-----------------------------------banner------------------------------------------------*/
.banner-box h1{text-align: center;}
.banner-box h1{use-align: center; font-size: 30px; padding: 20px 0;}
.banner-table{background: #fff;}
.banner-table ul.table-hd{use-align: center; border-top: 2px solid black; font-weight: bold; padding-top: 5px;}
.banner-table ul.table-bd{use-align: center; margin: 5px 0;}

.banner-table ul li{display:table; width:100%;}
.banner-table ul li > div{display:table-cell; border-bottom: 1px solid #ccc;}

.banner-table ul li > div.no{width:10%; font-size: 15px; padding: 5px 0;}
.banner-table ul li > div.loc{width:10%; font-size: 15px; padding: 5px 0;}
.banner-table ul li > div.subject{width:30%; font-size: 15px; padding: 5px 0;}
.banner-table ul li > div.time{width:20%; font-size: 15px; padding: 5px 0;}
.banner-table ul li > div.use{width:10%; font-size: 15px; padding: 5px 0;}
.banner-table ul li > div.date{width:10%; font-size: 15px; padding: 5px 0;}
.banner-table ul li > div.adm{width:10%; font-size: 15px; padding: 5px 0;}
.banner-table ul li > div.adm > a.mod{margin-right: 5px; color: green;}
.banner-table ul li > div.adm > a.del{color: red;}



/*-----------------------------------banner_write------------------------------------------------*/
.banner-write-box{padding:50px;}
.banner-write-box h1{text-align: center;margin-bottom: 20px;}
.banner-write-box .banner-write-form{max-width: 800px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius:25px; padding: 20px;background: #fff;box-shadow:0px 2px 5px 0px rgb(0 0 0 / 20%);}
.banner-write-box .banner-write-form li{margin:5px;}
.banner-write-box .banner-write-form label{display: inline-block;width: 18%;}

.banner-write-box .banner-write-form li input[type="text"]{width: 80%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px; display: inline-block;}
.banner-write-box .banner-write-form li input.s-date{width: 35%;}
.banner-write-box .banner-write-form li p{display: inline-block; width: 5%; text-align: center;}
.banner-write-box .banner-write-form li input.e-date{width: 35%;}
.banner-write-box .banner-write-form li select{width: 30%; height: 30px; padding: 5px; margin-bottom: 5px; display: inline-block;}
.banner-write-box .banner-write-form li input[type="checkbox"]{padding: 5px; display: inline-block;}


.banner-write-box .banner-write-btn{max-width: 1000px; text-align: right; margin-top: 20px;}
.banner-write-box .banner-write-btn a{border:1px solid black; padding:5px; border-radius:5px; background:white;}
.banner-write-box .banner-write-btn a:hover{background:black; color:white;}
.banner-write-box .banner-write-form li .use {display: inline-block;}
.banner-write-box .banner-write-form li .use >label{width: auto; margin-left: 10px;}




/*-----------------------------------booking_write------------------------------------------------*/

.booking-box h1{text-align: center; font-size: 30px; padding: 20px 0;}
.booking-table{background: #fff;}
.booking-table ul.table-hd{text-align: left; border-top: 2px solid black; font-weight: bold; padding-top: 5px;}
.booking-table ul.table-bd{text-align: center; margin: 5px 0;}
.booking-table ul.table-bd .subject{text-align: left;}
.booking-table ul li{display:table; width:100%;}
.booking-table ul li > div{display:table-cell; border-bottom: 1px solid #ccc;}

.booking-table ul li > div.no{width:10%; font-size: 15px; padding: 5px 0;}
.booking-table ul li > div.type{width: 20%; max-width: 200px;}
.booking-table ul li > div.subject{width:10%; font-size: 15px; padding: 5px 0;}
.booking-table ul li > div.subject a{font-weight: bold; font-size: 14px;}
.booking-table ul li > div.subject a:hover{text-decoration: underline;}
.booking-table ul li > div.adm{width:20%; font-size: 15px; padding: 5px 0;}
.booking-table ul li > div.adm > a.mod{color:green; margin-right: 5px; padding: 5px;}
.booking-table ul li > div.adm > a.del{color: red; padding: 5px;}
.booking-table ul li > div.date{width:20%; font-size: 15px; padding: 5px 0;}


/*-----------------------------------booking_write------------------------------------------------*/
.booking-write-box{padding:50px;}
.booking-write-box h1{text-align: center;margin-bottom: 20px;}
.booking-write-box .booking-write-form{max-width: 800px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius:25px; padding: 20px;background: #fff;box-shadow:0px 2px 5px 0px rgb(0 0 0 / 20%);}
.booking-write-box .booking-write-form li{margin:5px;}
.booking-write-box .booking-write-form label{display: inline-block;width: 18%;}

.booking-write-box .booking-write-form li input[type="text"]{width: 80%;height:40px;padding: 5px;border: 1px solid #ccc;border-radius:10px; margin-bottom:5px; display: inline-block;}
.booking-write-box .booking-write-form li textarea{width: 80%; height: 80px;}
.booking-write-box .booking-write-btn{max-width: 1000px; text-align: right; margin-top: 20px;}
.booking-write-box .booking-write-btn a{border:1px solid black; padding:5px; border-radius:5px; background:white;}
.booking-write-box .booking-write-btn a:hover{background:black; color:white;}
.booking-write-box .booking-write-form li .use {display: inline-block;}
.booking-write-box .booking-write-form li .use >label{width: auto; margin-left: 10px;}


/*-----------------------------------popup in index.html-----------------------------------*/
.popup-box{position: absolute; z-index: 9999; top: 30px; left: 30px; border: 2px solid #fff;}

.popup-box img{max-width: 500px;}
.popup-box .pop-btn{text-align: right; background: #fff; }
.popup-box .pop-btn a{display: inline-block; background: black; color: white; padding: 3px;}

